$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #0d1318;
$accentColor: #db4444;
$secondaryAccentColor: #f5f5f5;
$thirdAccentColor: rgba(170, 179, 190, 0.5);
$fourthAccentColor: rgba(255, 255, 255, 0.8)
